sample-data-from-ocitest01/pcp-ocitest-out-csv-20240306.tgz
sample-data-from-ocitest01/pcp-ocitest-out-csv-20240306/cpu_general.csv
sample-data-from-ocitest01/pcp-ocitest-out-csv-20240306/diskfree.csv
sample-data-from-ocitest01/pcp-ocitest-out-csv-20240306/io_rates_overall.csv
sample-data-from-ocitest01/pcp-ocitest-out-csv-20240306/io_rates_perdevice.csv
sample-data-from-ocitest01/pcp-ocitest-out-csv-20240306/loadavg.csv
sample-data-from-ocitest01/pcp-ocitest-out-csv-20240306/memory.csv
sample-data-from-ocitest01/pcp-ocitest-out-csv-20240306/multi_cpu.csv
sample-data-from-ocitest01/pcp-ocitest-out-csv-20240306/network_bandwidth_usage.csv
sample-data-from-ocitest01/pcp-ocitest-out-csv-20240306/network_error_rates.csv
sample-data-from-ocitest01/pcp-ocitest-out-csv-20240306/nproc.csv
